* {
    box-sizing: border-box;
    margin-bottom: 20px;    
}

body {
    margin: 0;
    background-image: url(../images/concrete_seamless/concrete_seamless.png);
}

/* Header and navigation menu */
header { 
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 20px 20px;
    width: 100%;
}

section {
    margin: auto;
    width: 960px;
}

#name{
    background: #4aaaa5;
    color: white;
    padding: 20px 30px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#centerButton {
 border-left: 1px solid #dddddd;
 border-right: 1px solid #dddddd;
}

.link {
    float: right;
    color: #777777;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.link:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

/* Content box formatting */
.content {
    margin: 20px auto 50px auto;
    background: #ffffff;
    color: #777777;
    width: 960px;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    height: 2px;
    border: 0;
    color: lightgrey;
    background-color: lightgrey;
}

 /* Footer formatting */
footer { 
    clear: both;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
}

#copyright {
    margin-bottom: 0px;
    position:absolute;
    bottom: 5px;
    font-size: 8px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* About page formatting */
#myPic {
    margin: 0px 10px;
    float: left;
}

p {
    font-size: 16px;
    line-height: 2;
}

/* Portfolio formatting */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px; 
}

.column {
    flex: 25%;
    padding: 0 5px;
    max-width: 33.3%;
}

.imgHolder {
    position: relative;
}

.imgHolder span {
    clear: both;
    position: absolute;
    bottom: 10px;
    width: 200px;
    height: 20%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    line-height: 2;
    display: block;
}

/* Contact formatting */
.box {
    width: 100%;
    border: 1px solid #dddddd;
}

#textArea {
    width: 100%;
    height: 150px;
    border: 1px solid #dddddd;
}

#submit {
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px 15px;

}